.split 
{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 17%;
}

.split2 
{
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left 
{
  left: 0;
}

.right 
{
  right: 0;
}

.vl 
{
  border-left: 2px solid black;
  height: 100%;
  margin-left: 383px;
  margin-top: -8; 
}
